@import "./style.css";

.toggle-nav {
  display: none;
  height: 50px;
  width: 50px;
}

.toggle-nav > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 640px) {
  .toggle-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .openIcon {
    display: block;
  }

  .closeIcon {
    display: none;
    position: relative;
    z-index: 6;
  }
}